<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital Management System </title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>HOSPITAL MANAGEMENT SYSTEM <br> SRUJAN M PADMASHALI</h1>

    <form action="/tables" method="get">
      <button type="submit">Display Tables</button>
    </form>

    <form action="/insert" method="get">
      <button type="submit">Insert Data</button>
    </form>

    <form action="/query-demo" method="get">
      <button type="submit">7 Queries</button>
    </form>

    <form action="/query-form" method="get">
      <button type="submit">Run Any SQL Query</button>
    </form>

    <h3 style="margin-top: 2rem; text-align: center;">
      If someone enters a negative or zero bill amount, the trigger will override it and insert 100 instead.
    </h3>
  </div>
</body>
</html>
